body {
    color: #4226c1;
    background-color: #f3f3f3;
  }

  h1 {
    font-size: 2em;
  }

  h2{
    font-size: 1.6em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
  }
  
  ol {
    list-style-type: lower-roman;
  }

 